@model IdentityExample.ViewModels.LoginViewModel

@using (Html.BeginForm("Login", "Account"))
{
    <div>@Html.TextBoxFor(m => m.Email)</div>
    <div>@Html.PasswordFor(m => m.Password)</div>
    <div>
        <input type="submit" value="Log in" />
    </div>
}